<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.springboot.dao.TimeOutMapper">

	<!--timeout有用!-->
	<select id="selectCount1" resultType="int" timeout="2">
		select count(1) from test.time_out
	</select>


	<select id="selectTestTable" resultType="int">
		select count(1) from test.test_table
	</select>

	<select id="testCdata" resultType="int">
		<!--${sql}-->
		select count(1) from test.test_table where id = #{bean.id}
	</select>

	<select id="testExplain" resultType="map">
		explain select count(1) from test.time_out
	</select>

	<select id="selectById" resultType="string">
		select test_name from test.time_out where id = #{id}
	</select>
	<update id="updateById">
		update  test.time_out set test_name='ceshi' where id = #{id}
	</update>

	<insert id="insertTimeOut">
		INSERT INTO time_out  ( id,test_name ) VALUES( #{t.id},#{t.testName})
	</insert>

	<update id="lockTable">
		lock tables test.time_out read;
	</update>

	<update id="unlockTable">
		unlock tables;
	</update>

	<update id="rename">
		rename table test.${original} to test.${target};
	</update>


	<select id="selectLog" resultType="string">
		select res.date
		from
				 (
				 select t.date,count(t.date) as c
				 from(
						 select distinct substr(task_stamp,1,8) as date,SUBSTRING_INDEX(task_dst,'.',-1) as tableName
						 from test.hasbani_syns_log
						 where delta_cnt>0 and
									 find_in_set(SUBSTRING_INDEX(task_dst,'.',-1),#{tables})) t
							 join
							 (select distinct substr(task_stamp,1,8) as date
								from test.hasbani_syns_log
								where delta_cnt>0 and
											find_in_set(SUBSTRING_INDEX(task_dst,'.',-1),#{tables})) d
							 on d.date=t.date
				 group by date
				 ) res
		where c>0
	</select>

	<select id="testPresto" resultType="int">
		select count(id)
		from mysql.test.date_test
	</select>

	<select id="testMysql" resultType="int">
		select count(id)
		from test.date_test
	</select>

	<select id="testParam" parameterType="int" resultType="int">
		select count(1)
		from test.date_test
		where id=#{id}
	</select>

	<select id="testMultiParam" resultType="int">
		select count(1)
		from test.time_out
		where id= #{id} and test_name like '?' and test_name = #{name}
	</select>

	<select id="testDate" resultType="int">
		select count(1)
		from test.date_test
		where id= #{id} and `time` = #{time}
	</select>

	<select id="testBean" resultType="int">
		select count(1)
		from test.time_out
		where `test_name` = #{testBean.name} and id = #{testBean.num}
	</select>

	<insert id="patchInsert">
		insert into test.time_out(`id`,`test_name`)
		values
		<foreach collection="list" item="i" separator=",">
			(
				#{i.num},
				#{i.name}
			)
		</foreach>
	</insert>

	<delete id="testDelete">
		delete from test.time_out limit 1
	</delete>

</mapper>
