<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.springboot.dao.TimeOutMapper">

	<!--timeout有用!-->
	<select id="selectCount1" resultType="int" timeout="2">
		select count(1) from test.time_out
	</select>


	<select id="selectTestTable" resultType="int">
		select count(1) from test.test_table
	</select>

	<select id="testCdata" resultType="int">
		<!--${sql}-->
		select count(1) from test.test_table where id = #{bean.id}
	</select>

	<select id="testExplain" resultType="map">
		explain select count(1) from test.time_out
	</select>

	<select id="selectById" resultType="string">
		select test_name from test.time_out where id = #{id}
	</select>
	<update id="updateById">
		update  test.time_out set test_name='ceshi' where id = #{id}
	</update>

	<insert id="insertTimeOut">
		INSERT INTO time_out  ( id,test_name ) VALUES( #{t.id},#{t.testName})
	</insert>

	<update id="lockTable">
		lock tables test.time_out read;
	</update>

	<update id="unlockTable">
		unlock tables;
	</update>

	<update id="rename">
		rename table test.${original} to test.${target};
	</update>

</mapper>
